# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.env
*.venv
env/
venv/
ENV/
*.egg-info/
dist/
build/

# -------------------------
# Django
# -------------------------
*.sqlite3
db.sqlite3
*.log
local_settings.py
media/
staticfiles/

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# JetBrains IDEs
# -------------------------
.idea/
*.iml

# -------------------------
# Node / Frontend
# -------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# -------------------------
# OS
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Misc
# -------------------------
*.bak
*.swp
*.tmp
*.sass-cache
.cache/
